* {
   
    box-sizing: border-box;
}

input{
    width: 250px;
}

.line_througt{
    text-decoration:line-through;
}

ul{
    display:flex ;
    flex-direction: column;
    gap: 10px;
}
.bg_red:hover{
    color: red;
    cursor: pointer;
}


